<header>
  <nav>
    <div class='logo'>Logo here</div>
    <ul>
      <li><a href='/'>Home</a></li>
      <% if (isUser) { %>
      <li><a href='/todos'>Todos</a></li>
      <li><a href='/user/logout'>Log Out</a></li>
      <% } else { %>
      <li><a href='/user/login'>Log In</a></li>
      <li><a href='/user/register'>Register</a></li>
      <% } %>
    </ul>
  </nav>
</header>