body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

header {
  display: flex;
  flex-basis: 300px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 30px 80px;
  box-sizing: border-box;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 15px 30px;
}

.todos .container {
  width: 80vw;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.todo span, .delete-contain input[type=submit] {
  background-color: lightblue;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
}

.todo {
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.title-status {
  display: flex;
  border-bottom: 1px solid #eee;
}

.title-status h3 {
  flex: 1;
  padding: 5px 15px;
  font-size: 1.4em;
  line-height: 1.4em;
}

