body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  background-color: black;
  color: #555;
}

header {
  display: flex;
  flex-basis: 300px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 30px 80px;
  box-sizing: border-box;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 15px 30px;
}